.App {
    min-height: 100vh;
    display: flex;
    text-align: center;
    padding: 100px;
    flex-direction: column;
}

.footer {
    height: 80px;
    display: flex;
    margin-top: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rajdhani&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

.home img {
  width: 100%;
}

.productList {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  gap: 89px;
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}